*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao_conteudo_texto {
    font-size: 24px;
    font-size: 'Montserrat', 'sans-serif';
}
.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_link {
    background-color: #22D4FD;
    width: 280;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
}